<div class="header-one-section d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-one-section__content">
                    <div class="header-one-section__address">
                        <a href="#">
                            <i class="material-symbols-outlined"> mail </i>
                            <span class="__cf_email__" data-cfemail="076e69616847627f666a776b622964686a">support@nexgendigitalservices.lk</span>
                        </a>
                        <a href="#">
                            <i class="material-symbols-outlined"> location_on </i> No 112, Gothatuwa New Town Gothatuwa
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-one">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo/logo.png" alt="logo" class="logo-img" style="width: auto;height: 100px;">
        </a>
        <div class="order-1 d-flex align-items-center gap-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="animated-svg">
                                    <path class="line line-1" d="m2.5 6.5h18" fill="none" stroke="#fff"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path class="line line-2" d="m2.5 11.5h18" fill="none" stroke="#fff"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path class="line line-3" d="m2.5 16.5h18" fill="none" stroke="#fff"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    <img src="/images/logo/logo2.svg" alt="logo" class="logo-img">
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body align-items-center">
                <ul class="navbar-nav justify-content-center flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>